@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,700|Open+Sans+Condensed:300,700);

@pageWidth: 960px;

@serifedFont: 'Merriweather', serif;
@nonSerifFont: 'Open Sans Condensed';
@light: #ECF0F1;
@highlight: #3498DB;
@content: #646464;
@emphasis: #E74C3C;
@darker: #2C3E50;

body {
	font-family: @serifedFont;
	color: @content;
	margin: 0 0 0 0;
}

footer {
	width: @pageWidth;
	margin: 35px auto 0;
	font-size: 0.5em;
	font-style: italic;
	& a:hover,
	& a:link,
	& a:active,
	& a:visited {
		text-decoration: none;
		color: @content;
	}
}

.org-titlebar,
.section-content {
	width: @pageWidth;
	margin: 0 auto 0;
}

h1.title {
	width: @pageWidth;
	margin: 0 auto 0;
	font-family: @serifedFont;
	font-weight: 300;
	font-size: 3em;
	color: @emphasis;
}

h2.title {
	font-family: @serifedFont;
	font-weight: 100;
}

h4.section-heading {
	width: @pageWidth;
	margin: 0 auto 0;
	color: @highlight;
	font-family: @nonSerifFont;
	font-weight: 700;
	font-size: 1em;
	font-variant: small-caps;
}

.subheading {
	font-family: @nonSerifFont;
	color: #333;
	font-size: 0.75em;
}

.contribution-item {
	& h3 {
		font-family: @nonSerifFont;
		font-weight: 100;
		margin-bottom: 0;
	}
	& p {
		font-size: 0.75em;
	}
}

.org-titlebar {
	background-color: #fff
}


.section-container-content {
	box-shadow: inset 0px 0 13px 0px rgba(0, 0, 0, 0.75);
	overflow: hidden;
}
.section-content {
	padding: 20px 0 20px;
	z-index: -1;
}

.cv-trigger {
	width:30px;
	height:30px;
	position:relative;
	font-size:20px;
	font-weight:bold;
	cursor:pointer;
	color:#333;
}
.plus, .minus {
	width:30px;
	height:30px;
	display:block;
	position:absolute;
	top:0; left:0;
	line-height:32px;
	text-align:center;
	-webkit-transition: .5s all ease-out;
	transition: .5s all ease-out;
}

.plus { 
	opacity: 1;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

// for the trigger element on an accordian when opened
.cv-opened {
	& span.plus {
		opacity:0;
		webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	& span.minus {
		opacity:1;
		webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}
// for the trigger element on an accordian when closed
.cv-closed {
	& span.plus {
		opacity:1;
		webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	& span.minus {
		opacity:0;
		webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

//for the content element of an accordian when hidden
.cv-hidden {
	animation-name: slide-up;
	animation-duration: 2s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}
//for the content element of an accordian when visible
.cv-visible {
	animation-name: slide-down;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}


@keyframes slide-down {
	0% { margin-top: -100%; }
	100% { margin-top: 0px; }
}

@keyframes slide-up {
	0% { margin-top: 0px; }
	100% { margin-top: -100%; }
}